version: '2'
services:
  client:
    container_name: neovpn-client
    build: ./image
    cap_add:
      - NET_ADMIN
    volumes:
      - ../client/client:/client
      - ../script/client/up.sh:/up.sh
      - ../script/client/down.sh:/down.sh
    networks:
      - net1
    environment:
      - GODEBUG=netdns=cgo+1
    command: /client
  server:
    container_name: neovpn-server
    build: ./image
    cap_add:
      - NET_ADMIN
    volumes:
      - ../server/server:/server
      - ../script/server/up.sh:/up.sh
      - ../script/server/down.sh:/down.sh
    networks:
      - net1
      - net2
    command: /server
  target:
    container_name: neovpn-target
    build: ./image
    networks:
      - net2
networks:
  net1:
    driver: bridge
  net2:
    driver: bridge
